/* === === === Main Layout === === === */

.canvas {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  /* overflow-x: hidden; */
  /* overscroll-behavior: none; */
  font-family: var(--font-stack);
  position: relative;

  background-color: var(--bgColor-default);
  background-image: radial-gradient(var(--overlay-backdrop-bgColor) 2px, transparent 2px);
  background-size: var(--golden-number) var(--golden-number);
  background-position: var(--golden-half-minus) var(--golden-half-minus);

  width: 100vw;
  max-width: 100vw;
}