/* === === === Draggable Styles === === === */

/* Fix pan-on-drag for touchscreens */
body .draggable:not(:active) {
  touch-action: none;
} 

.on-translation {
  transition: transform calc(var(--translation_ms)*2) cubic-bezier(.78,.1,.51,.78) var(--translation_ms);
}

.drag {
  position: relative;
  width: fit-content;
}

.draggable {
    position: relative;
    width: fit-content;
    border-radius: var(--borderRadius-large);
    box-shadow: var(--shadow-resting-small);
}

.draggable::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-floating-small);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.on-translation .draggable::after,
.draggable:active::after,
.draggable:hover::after {
  opacity: 1;
}

.draggable:active > :where(h1,h2,h3,h4,h5,h6,p,span,div,article) {
  user-select: none;
}

