/* === === === Draggable Styles === === === */

body { cursor: url(../images/cursor-arrow.svg), auto }
body:not([is-locked="true"]) *:not(body):not(section):not(main):not(canvas):not(aside):hover { cursor: url(../images/cursor-arrow.svg), pointer }
body:not([is-locked="true"]) *:not(body):not(section):not(main):not(canvas):not(aside):active { cursor: url(../images/cursor-hand.png), pointer }
body:not([is-locked="true"]).canvas-cursor #canvas:hover { cursor: url(../images/cursor-pen.svg), auto }

/* Fix pan-on-drag for touchscreens */
body .draggable:not(:active) {
    touch-action: none;
}

.drag, .draggable {
    position: relative;
    /* z-index: 200; */
    width: fit-content;
}

.on .draggable {

  transition: transform ease-in-out 100ms;
}

.drag:not(.on) .draggable {
  /* transition: transform ease-in-out 50ms; */
} 

.draggable:active,
.draggable:hover {
    border-radius: var(--small);
    box-shadow: 0 0 0 var(--smaller) var(--background), 0 0 0 var(--small) rgba(127, 156, 245, 0.80), 0 2px 4px 20px hsl(216deg 61% 23% / 20%);
    transition: background-color ease-in 150ms;
}

/* .draggable:hover::after {
    content: '';
    position: absolute;
    left: calc(var(--small) * -1);
    top: calc(var(--small) * -1);
    width: var(--tiny);
    height: var(--tiny);
    background: var(--active);
    border-radius: var(--max);
    z-index: 1;
}

.draggable:hover::before {
    content: '';
    position: absolute;
    right: calc(var(--small) * -1);
    bottom: calc(var(--small) * -1);
    width: var(--tiny);
    height: var(--tiny);
    background: var(--active);
    border-radius: var(--max);
    z-index: 1;
} */