/* === === === Main Layout === === === */

html {
  display: flex;
}

main {
  min-width: 100vw;
  min-height: 100vh;
}

.canvas {
  min-width: 100vw;
  min-height: 100vh;
  /* padding: var(--grid-gap-tiny) */
}

main {
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  font-family: var(--font-stack);
  color: var(--foreground);
  position: relative;

  background-image: radial-gradient(var(--middleground) 2px, transparent 2px);
  background-size: var(--golden-number) var(--golden-number);
  background-color: var(--background);
  background-position: var(--golden-half-minus) var(--golden-half-minus);

  display: grid;
  grid-template-columns: var(--body-grid-cols);
  width: 100vw;
  max-width: 100vw;
}

.opacity-85 {
  opacity: 0.85;
}

/* === === === Font Faces === === === */

@font-face {
  font-family: 'Mona Sans';
  src:
    url('fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.system-font {
  font-family: var(--font-stack)
}

.mona-sans-narrow {
  font-family: var(--font-stack-heads);
  font-stretch: var(--font-narrow)
}

.mona-sans {
  font-family: var(--font-stack-heads);
  font-stretch: var(--font-normal)
}

.mona-sans-wide {
  font-family: var(--font-stack-heads);
  font-stretch: var(--font-wide)
}

/* === === === Media Queries === === === */

@media screen and (min-width: 1px) {
  :root {

    /* Fonts */
    --font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-stack-heads: "Mona Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    --font-narrow: 75%;
    --font-normal: 100%;
    --font-wide: 125%;

    /* Colors -- Light Mode */
    --active: hsl(237, 47%, 52%);
    --hue1: 190;
    --hue2: 167;
    --hue3: 39;

    --light: rgb(250, 246, 245);
    --dark: rgba(45, 55, 72, 1);

    --background: var(--light);
    --foreground: var(--dark);
    --middleground: rgba(45, 55, 72, 0.075);
    --shadowground: rgba(172, 196, 234, 1);
    --svg-hover-color: var(--background);

    --yellow-link: #c18906;
    --orange-link: #c66331;
    --pink-link: #c81e51;
    --blue-link: #3868ac;

    --button-background: var(--background);
    --button-base: var(--background);
    --button-active: var(--active);
    --button-border: rgba(45, 55, 72, 0.2);

    --tooltip-base: var(--foreground);
    --tooltip-front: var(--background);

    /* Golden Snap Number */
    --golden-number: 40px;
    --golden-half-minus: -20px;

    /* Grid Gaps */
    --grid-gap-base: 4px;
    --grid-gap-tiny: 8px;
    --grid-gap-small: 16px;
    --grid-gap-medium: 32px;
    --grid-gap-large: 40px;
    --grid-gap-larger: 80px;
    --grid-gap-largest: 120px;

    /* Vertical Grid Gap */
    --vert-gap: 4;
    --vert-gap-small: 8px;
    --vert-gap-medium: 16px;
    --vert-gap-large: 32px;
    --vert-gap-largest: 64px;

    /* grid definitions */
    --body-grid-cols: var(--grid-gap-small) calc(100vw - 32px) var(--grid-gap-small);
    --main-grid-cols: minmax(min-content, 100%);

    /* section sizing cols */
    --section-grid-repeats: 16;
    --section-grid-cols: repeat(var(--section-grid-repeats), clamp(1fr, min-content, var(--grid-gap-larger)));
    --section-grid-gap: 0;

    /* sub-section positioning */
    --cols: 1 / 17;

    /* transform speeds */
    --speed1: 100ms;
    --speed2: 250ms;
    --speed3: calc(var(--speed2) * 1.5);
    --speed4: calc(var(--speed2) * 2);

    /* misc */
    --frame-height: 980px;
    --sticker-display-xs: none;
  }

  .dark-mode {
    --active: hsl(237, 47%, 52%);

    --background: var(--dark);
    --foreground: var(--light);
    --middleground: rgba(250, 246, 245, 0.075);
    --shadowground: rgba(29, 36, 47, 1);
    --svg-hover-color: var(--foreground);

    --tooltip-base: var(--foreground);
    --tooltip-front: var(--background);


    --yellow-link: #fccb5b;
    --orange-link: #f68045;
    --pink-link: #ef81a2;
    --blue-link: #6fabff;
  }

  #work-intro {
    --cols: 1 / 12
  }

  #icons {
    margin-top: var(--grid-gap-large);
  }

  /* Frames */
  #dx {
    --hue1: 258;
    /*--hue2: 200;*/
    --hue3: 200;
    --height: auto
  }

  #ds {
    --hue1: 10;
    /*--hue2: 50;*/
    --hue3: 160;
    --height: auto
  }

  #pay {
    --hue1: 320;
    /*--hue2: 140;*/
    --hue3: 260;
    --height: auto
  }

  /* Footer */
  #footer {
    --cols: 4 / 12
  }
}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 768px) {

  /* General */
  :root {
    --body-grid-cols: var(--grid-gap-large) auto var(--grid-gap-large);
    --section-grid-gap: var(--grid-gap-medium);
    --section-grid-cols: repeat(var(--section-grid-repeats), minmax(min-content, var(--grid-gap-larger)))
  }

  /* Hero */
  #hi-there {
    --cols: 2 / 14
  }

  #intro {
    --cols: 2 / 14
  }

  #story {
    --cols: 2 / 14
  }

  #sticky {
    --cols: 2 / 14
  }

  #icons {
    --cols: 2 / 16
  }

  #work {
    --cols: 2 / 14
  }

  #work-intro {
    --cols: 2 / 16
  }

  .sticky {
    max-width: 360px;
  }

  /* Toolbar */
  #toolbar {
    flex-direction: column;
    right: var(--grid-gap-large);
    top: var(--grid-gap-largest);
    left: unset;
    bottom: unset;
    transform-origin: initial;
    transition:
      rotate var(--speed4) ease-in-out,
      right var(--speed4) ease-in-out,
      bottom var(--speed4) ease-in-out;
  }

  /* Hide toolbar in case frame overlay is open */
  body:has(.frame--imagebox) #toolbar {
    display: none;
  }

  body[is-locked="true"] #toolbar {
    left: unset;
    right: var(--grid-gap-largest);
    top: var(--grid-gap-largest);
    rotate: 90deg;
    transform-origin: initial;
    transition:
      rotate var(--speed4) ease-in-out,
      right var(--speed4) ease-in-out,
      bottom var(--speed4) ease-in-out;
  }

  .toolbutton {
    transition:
      opacity var(--speed2) ease-in,
      height var(--speed4) ease-in,
      width var(--speed4) ease-in,
      rotate var(--speed3) ease-in;
  }

  body[is-locked="true"] .toolbutton#lockButton {
    rotate: -90deg;
    transition:
      color var(--speed1) ease-in,
      stroke var(--speed1) ease-in,
      opacity var(--speed2) ease-in,
      height var(--speed4) ease-in,
      width var(--speed4) ease-in,
      rotate var(--speed3) ease-in;
  }

  /* Headshots */
  #headshot>* {
    height: unset
  }

  #headshot-1 {
    --cols: 2 / span 18;
    --text: center;
  }

  #headshot-2 {
    --cols: 2 / span 2
  }

  #headshot-3 {
    --cols: span 16;
    --text: left;
  }

  #headshot-4 {
    --cols: 2 / span 1;
    --text: left;
  }

  #headshot-5 {
    --cols: span 13;
  }

  #headshot-6 {
    display: grid;
    --cols: span 3;
  }

  /* Frames */
  #work {
    --cols: 1 / all
  }

  #dx {
    --cols: 1 / 18
  }

  #ds {
    --cols: 1 / 18
  }

  #pay {
    --cols: 1 / 18
  }

  .work-header {
    --cols: 2 / span 8;
    margin: 64px 0 -24px 0;
  }

  .frame-section {
    margin: 0;
  }

  .frame-mid {
    padding: 24px
  }

  .frame-inner {
    box-shadow:
      -8px 0px 20px hsla(var(--hue1), 95%, 39%, 0.3),
      /*0px 0px 20px hsla(var(--hue2), 65%, 66%, 0.3), */
      8px 0px 20px hsla(var(--hue3), 100%, 57%, 0.3);
  }

  .frame-bg {
    background-color: rgb(250, 246, 245);
  }

  .frame--thumb {
    user-select: auto;
    pointer-events: auto;
  }

  /* Stickers */
  #arrow3D {
    --col: 9;
    --row: 2
  }

  #planet {
    --col: 2;
    --row: 1;
    --top: -20px;
  }

  #goose {
    --col: 9;
    --row: 5;
    width: 140px
  }

  picture.single-sticker {
    width: fit-content;
  }

  picture.single-sticker,
  article.single-sticker {
    position: relative;
  }

  body[is-locked="true"] .single-sticker {
    display: grid;
  }

  .devportal-aww {
    max-width: 10rem;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {

  /* Hero */
  #hi-there {
    --cols: 2 / 12
  }

  #intro {
    --cols: 2 / 13
  }

  #story {
    --cols: 2 / 13
  }

  #sticky {
    --cols: 2 / 13
  }

  /* Toolbar */
  #toolbar {
    right: var(--grid-gap-large);
    top: var(--grid-gap-largest)
  }

  /* Work */
  #icons {
    --cols: 2 / 16
  }

  #work-intro {
    --cols: 2 / 16
  }

  /* Frames */
  #dx {
    --cols: 1 / 18
  }

  #ds {
    --cols: 1 / 18
  }

  #pay {
    --cols: 1 / 18
  }

  /* Stickers */
  #arrow3D {
    --col: 9;
    --row: 2
  }

  #planet {
    --col: 2;
    --row: 1;
    --top: -20px;
  }

  #goose {
    --col: 9;
    --row: 5;
    width: 140px
  }

  /* Footer */
  #footer {
    --cols: 2 / 13
  }

  .devportal-aww {
    max-width: 14rem;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {

  /* Hero */
  #hi-there {
    --cols: 4 / 7
  }

  #intro {
    --cols: 4 / 12
  }

  #story {
    --cols: 4 / 11
  }

  #sticky {
    --cols: 4 / 10
  }

  /* Headshots */
  #headshot {
    grid-template-columns: repeat(24, minmax(min-content, var(--grid-gap-larger)));
  }

  #headshot-1 {
    --cols: 4 / span 18;
    --text: center;
  }

  #headshot-2 {
    --cols: 4 / span 3
  }

  #headshot-3 {
    --cols: span 15
  }

  #headshot-4 {
    --cols: 4 / span 1
  }

  #headshot-5 {
    --cols: span 15;
    --text: left
  }

  #headshot-6 {
    display: grid;
    --cols: span 2;
  }

  /* Work */
  #icons {
    --cols: 4 / 16
  }

  #work-intro {
    --cols: 4 / 16
  }

  /* Stickers */
  #arrow3D {
    --col: 9;
    --row: 2
  }

  #planet {
    --col: 2;
    --row: 3
  }

  #goose {
    --col: 8;
    --row: 4;
    width: 140px
  }

  /* Frames */
  #dx,
  #ds,
  #pay {
    --cols: 2 / 16
  }

  /* Footer */
  #footer {
    --cols: 4 / 12
  }
}

@media screen and (min-width: 2200px) {
  :root {
    --section-grid-repeats: 24;
  }

  /* Stickers */
  #arrow3D {
    --col: 8;
    --row: 2
  }

  #planet {
    --col: 2;
    --row: 2;
    --left: -60px;
  }

  #goose {
    --col: 9;
    --row: 4;
    width: 140px
  }

}